
<div class="md-whiteframe-3dp about">
   <div class="hd">
      <h3>kuchnia alchemika</h3>
      <p>wersja 1.3</p>
   </div>
   <md-divider></md-divider>
   <p>strona umożliwia wyszukiwanie, przeglądanie, dodawanie nowych, edycję i usuwanie istniejących w bazie przepisów.</p>
   <p>Użyte obrazki na stronie nie są moje, służą wyłącznie do testów</p>
   <p>Użyte technologie:</p>
   <ul>
      <li>AngularJS</li>
      <li>Material Design</li>
      <li>NodeJS + ExpressJS + MongoDB</li>
   </ul>
   <md-divider></md-divider>
</div>



<md-button class="md-raised" name="button" ng-click="back()">wróc</md-button>
