
<div layout="row" layout-align="center start" flex>
   <div class="md-whiteframe-5dp" layout-padding flex="100" flex-gt-xs="90" flex-gt-sm="70" flex-gt-md="50">
      <form name="myForm" novalidate ng-init="getRecipe()">
         <md-content layout="column" layout-padding>

               <div><h2>Edytuj przepis</h2></div>
               <md-divider></md-divider>
               <md-input-container class="md-block">
                 <label>Tytuł</label>
                 <input type="text" ng-model="recipe.title" required>
               </md-input-container>

               <md-input-container>
                 <label>Opis</label>
                 <input type="text" ng-model="recipe.description" required>
               </md-input-container>

               <md-input-container>
                  <label>Kategoria</label>
                  <input type="text" ng-model="recipe.category" required>
               </md-input-container>

               <md-input-container>
                  <label>URL obrazka</label>
                  <input type="text" ng-model="recipe.imgUrl" required>
               </md-input-container>


               <md-input-container class="md-block">
                  <label>Instrukcje:</label>
                  <textarea ng-model="recipe.instruction" rows="5" md-select-on-focus></textarea>
               </md-input-container>

               <p>Składniki:</p>



               <div layout-padding>

                  <div layout="column" layout-gt-xs="row" ng-repeat="ingr in recipe.ingredients track by $index" >
                     <md-input-container class="md-block" flex="64" flex-gt-xs="60">
                        <label>Nazwa składnika {{$index+1}}</label>
                        <input type="text" ng-model="recipe.ingredients[$index].name" required>
                     </md-input-container>

                     <md-input-container class="md-block" flex="18" flex-gt-xs="20">
                        <label>Ilość</label>
                        <input type="number" ng-model="recipe.ingredients[$index].quantity" required>
                     </md-input-container>

                     <md-input-container class="md-block" flex="18" flex-gt-xs="20">
                        <label>Jednostka</label>
                        <md-select ng-model="recipe.ingredients[$index].unit" required>
                           <md-option value="g">g</md-option>
                           <md-option value="kg">kg</md-option>
                           <md-option value="ml">ml</md-option>
                           <md-option value="l">l</md-option>
                           <md-option value="łyż">łyż</md-option>
                           <md-option value="Łyż">Łyż</md-option>
                           <md-option value="szkl">szkl</md-option>
                           <md-option value="szt">szt</md-option>
                           <md-option value="opak">opak</md-option>
                        </md-select>
                     </md-input-container>
                  </div>
                  <div id="add-area"></div>
               </div>

               <div>
                  <md-button ng-click="addNext($index)" class="md-raised">Dodaj kolejny składnik</md-button>
               </div>

               <div>
                  <md-button class="md-primary  md-raised" ng-disabled="myForm.$invalid" ng-click="updateRecipe()">Zapisz</md-button>
                  <md-button class="md-accent  md-raised" ng-click="back()">Anuluj</md-button>
               </div>

         </md-content>
      </form>
   </div>
</div>
